<%= form_with(model: contact, class: "contents") do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="max-w-2xl mx-auto bg-white p-16 rounded-lg my-10">
    <h1 class="font-bold text-4xl text-center">Novo Contato</h1>
    <div class="grid gap-6 mb-6 lg:grid-cols-2">
      <div class="my-5">
        <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>

      <div class="my-5">
        <%= form.label :phone, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
        <%= form.text_field :phone, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>

    <div class="my-5">
      <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="my-5">
      <%= form.label :address, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :address, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="inline">
      <%= form.submit "Cadastrar", class: "rounded-lg py-3 px-5 bg-gradient-to-r from-indigo-400 via-indigo-500 to-indigo-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 text-white inline-block font-bold cursor-pointer my-5" %>
      <%= link_to 'Voltar', contacts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gradient-to-r from-indigo-400 via-indigo-500 to-indigo-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 inline-block font-bold text-white" %>

    </div>
    </div>
  </div>
<% end %>


