<!DOCTYPE html>
<html>
  <head>
    <title>Agenda Virtual</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="image">

    <%= render 'layouts/header' %>

    <% if notice %>
      <p class="flex p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
